In [1]:
import pandas as pd
import os



df = pd.read_csv("../data/combined_data.csv")

In [2]:
df.shape

(105623, 12)

In [3]:
df.columns

Index(['NAME', 'PRICE', 'CUSINE_CATEGORY', 'CITY', 'REGION', 'URL', 'PAGE NO',
       'CUSINE TYPE', 'TIMING', 'RATING_TYPE', 'RATING', 'VOTES'],
      dtype='object')

In [4]:
df.isna().sum()

NAME                   0
PRICE                  0
CUSINE_CATEGORY       65
CITY                   0
REGION                 0
URL                    0
PAGE NO                0
CUSINE TYPE            0
TIMING               641
RATING_TYPE        10538
RATING                 0
VOTES                  0
dtype: int64

In [5]:
df.head()

,NAME,PRICE,CUSINE_CATEGORY,CITY,REGION,URL,PAGE NO,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES
0,The Salt Cafe Kitchen & Bar,1000,"North Indian,Continental,Italian",Agra,Tajganj,https://www.zomato.com/agra/the-salt-cafe-kitc...,1,Casual Dining,1130am to 1130pm(Mon-Sun),Excellent,4.8,273
1,Bhagat Halwai,300,"Desserts,Bakery,Fast Food,South Indian",Agra,Civil Lines,https://www.zomato.com/agra/bhagat-halwai-civi...,1,Quick Bites,730am to 11pm(Mon-Sun),Very Good,4.3,554
2,Bikanervala,700,"North Indian,South Indian,Mithai,Street Food,D...",Agra,Khandari,https://www.zomato.com/agra/bikanervala-khanda...,1,Quick Bites,8am to 11pm(Mon-Sun),Very Good,4.4,645
3,Mama Chicken Mama Franky House,600,"North Indian,Mughlai,Rolls,Chinese,Fast Food,S...",Agra,Agra Cantt,https://www.zomato.com/agra/mama-chicken-mama-...,1,Quick Bites,"1230pm to 12midnight(Mon,Wed,Thu,Fri,Sat...",Very Good,4.3,894
4,Honeydew Restaurant,500,"North Indian,Fast Food,Chinese,South Indian",Agra,Dayal Bagh,https://www.zomato.com/agra/honeydew-restauran...,1,Quick Bites,"11am to 1035pm(Mon,Tue,Wed,Fri,Sat),11am to ...",Very Good,4.1,489

In [6]:
temp_pd = pd.DataFrame(df.dtypes, columns = ['data_type']).reset_index()
unique_records = pd.DataFrame(df.nunique(), columns = ['unique_records']).reset_index()
meta_df = pd.merge(temp_pd, unique_records, on = 'index')
meta_df

              index data_type  unique_records
0              NAME    object           84630
1             PRICE     int64             135
2   CUSINE_CATEGORY    object           13265
3              CITY    object              81
4            REGION    object            3382
5               URL    object          103132
6           PAGE NO     int64            1308
7       CUSINE TYPE    object              26
8            TIMING    object            9721
9       RATING_TYPE    object              38
10           RATING    object              35
11            VOTES    object            2108

In [7]:
#checking for duplicate Rows?
print('Total rows repeating:', sum(df.duplicated()))

Total rows repeating: 0

In [8]:
def convert_object_to_numeric(df):
    for column in df.select_dtypes(include='object').columns:
        # Try converting to integers first
        try:
            # Attempt to convert to integer
            df[column] = pd.to_numeric(df[column], errors='raise', downcast='integer')
            print(f"Converted {column} to integer type.")
        except (ValueError, TypeError):
            # If integer conversion fails, try float conversion
            try:
                # Attempt to convert to float
                df[column] = pd.to_numeric(df[column], errors='raise')
                df[column] = df[column].astype(float)  # Ensure it is float
                print(f"Converted {column} to float type.")
            except (ValueError, TypeError):
                # If both conversions fail, leave as object
                print(f"Left {column} as object type.")
    
    return df

In [9]:
converted_df = convert_object_to_numeric(df)

Left NAME as object type.
Left CUSINE_CATEGORY as object type.
Left CITY as object type.
Left REGION as object type.
Left URL as object type.
Left CUSINE TYPE as object type.
Left TIMING as object type.
Left RATING_TYPE as object type.
Left RATING as object type.
Left VOTES as object type.

In [10]:
import pandas as pd

def inspect_and_clean_column(df, column_name):
    # Inspect unique values to check if there are any non-numeric values
    unique_values = df[column_name].unique()
    print(f"Unique values in {column_name} before cleaning:")
    print(unique_values)
    
    # Remove leading/trailing spaces and replace non-numeric values like 'N/A', 'Not Rated' with NaN
    df[column_name] = df[column_name].str.strip()  # Remove any leading/trailing spaces
    df[column_name] = pd.to_numeric(df[column_name], errors='coerce')  # Convert to numeric, set non-convertible to NaN
    
    print(f"Unique values in {column_name} after cleaning:")
    print(df[column_name].unique())
    
    return df
df=inspect_and_clean_column(df,"RATING")

Unique values in RATING before cleaning:
['4.8' '4.3' '4.4' '4.1' '4.7' '3.9' '4.5' '4.0' '3.8' '3.5' '3.7' '3.4'
 '3.6' '2.4' '2.8' 'NEW' '3.0' '3.1' '3.2' '-' '3.3' '2.7' '2.5' '2.9'
 '4.2' '4.6' 'Opening' '2.3' '2.6' '4.9' '2.1' '2.2' '2.0' 'Temporarily'
 '1.8']
Unique values in RATING after cleaning:
[4.8 4.3 4.4 4.1 4.7 3.9 4.5 4.  3.8 3.5 3.7 3.4 3.6 2.4 2.8 nan 3.  3.1
 3.2 3.3 2.7 2.5 2.9 4.2 4.6 2.3 2.6 4.9 2.1 2.2 2.  1.8]

In [11]:
df["RATING"].dtype

dtype('float64')

In [12]:
df = df.reset_index()
df = df.drop(columns=['URL',"PAGE NO"],)



#adding index column

In [17]:
df.head

<bound method NDFrame.head of          index                            NAME  PRICE  \
0            0     The Salt Cafe Kitchen & Bar   1000
1            1                   Bhagat Halwai    300
2            2                     Bikanervala    700
3            3  Mama Chicken Mama Franky House    600
4            4             Honeydew Restaurant    500
...        ...                             ...    ...
105618  105618      Sizzlers Family Restaurant    800
105619  105619                         Dharani    800
105620  105620    Sai Siddhartha Biryani House    400
105621  105621                  Spicy Paradise    600
105622  105622                       4 Seasons    550

                                          CUSINE_CATEGORY           CITY  \
0                        North Indian,Continental,Italian           Agra
1                  Desserts,Bakery,Fast Food,South Indian           Agra
2       North Indian,South Indian,Mithai,Street Food,D...           Agra
3       North Indian,Mughlai,Rolls,Chinese,Fast Food,S...           Agra
4             North Indian,Fast Food,Chinese,South Indian           Agra
...                                                   ...            ...
105618                Andhra,Chinese,North Indian,Biryani  Visakhapatnam
105619                          South Indian,North Indian  Visakhapatnam
105620                                     Biryani,Andhra  Visakhapatnam
105621          South Indian,North Indian,Chinese,Biryani  Visakhapatnam
105622          Bakery,Desserts,Fast Food,Biryani,Chinese  Visakhapatnam

                             REGION     CUSINETYPE  \
0                           Tajganj  Casual Dining
1                       Civil Lines    Quick Bites
2                          Khandari    Quick Bites
3                        Agra Cantt    Quick Bites
4                        Dayal Bagh    Quick Bites
...                             ...            ...
105618                   MVP Colony    Quick Bites
105619  Hotel Daspalla-- Surya Bagh  Casual Dining
105620                Maharani Peta    Quick Bites
105621           Jagadamba Junction  Casual Dining
105622                    Asilmetta    Quick Bites

                                                 TIMING RATING_TYPE  RATING  \
0                             1130am to 1130pm(Mon-Sun)   Excellent     4.8
1                                730am to 11pm(Mon-Sun)   Very Good     4.3
2                                  8am to 11pm(Mon-Sun)   Very Good     4.4
3           1230pm to 12midnight(Mon,Wed,Thu,Fri,Sat...   Very Good     4.3
4       11am to 1035pm(Mon,Tue,Wed,Fri,Sat),11am to ...   Very Good     4.1
...                                                 ...         ...     ...
105618           1030am to 3pm,630pm to 1030pm(Mon-Sun)        Good     3.8
105619                             6am to 11pm(Mon-Sun)   Very Good     4.1
105620               11am to 4pm,630pm to 11pm(Mon-Sun)        Good     3.8
105621                          1030am to 11pm(Mon-Sun)        Good     3.9
105622                            10am to 10pm(Mon-Sun)        Good     3.7

       VOTES
0        273
1        554
2        645
3        894
4        489
...      ...
105618   210
105619   131
105620    97
105621   132
105622   219

[105623 rows x 11 columns]>

In [13]:
import logging

# Set up logging configuration
logging.basicConfig(level=logging.DEBUG, format='%(asctime)s - %(levelname)s - %(message)s')

# Log to a file (optional)
# logging.basicConfig(filename='debug.log', level=logging.DEBUG, format='%(asctime)s - %(levelname)s - %(message)s')

def log_dataframe_info(df):
    '''Log information about the DataFrame'''
    logging.debug(f"DataFrame shape: {df.shape}")
    logging.debug(f"DataFrame columns: {df.columns}")
    for col in df.columns:
        logging.debug(f"Column: {col}, Data Type: {df[col].dtype}")

In [14]:
import pandas as pd
import sqlalchemy

# Set up SQLite connection
sqlite_db_path = '../DB/NEWDB/zomato_db.sqlite'
engine = sqlalchemy.create_engine(f'sqlite:///{sqlite_db_path}')
sql_table_name = 'staging_data'
initial_sql = f"CREATE TABLE IF NOT EXISTS {sql_table_name} (key_pk INTEGER PRIMARY KEY"

def rename_df_cols(df):
    '''Input a dataframe, outputs same dataframe with No Space in column names'''
    col_no_space = dict((i, i.replace(' ','')) for i in list(df.columns))
    df.rename(columns=col_no_space, inplace=True)
    return df

def dtype_mapping():
    '''Returns a dict to refer correct data type for SQLite'''
    return {
        'object': 'TEXT',
        'int64': 'INTEGER',
        'float64': 'REAL',
        'datetime64[ns]': 'TEXT',
        'bool': 'INTEGER',
        'category': 'TEXT',
        'timedelta[ns]': 'TEXT'
    }

def create_sql(engine, df, sql=initial_sql):
    '''Input engine: connection for SQLite, df: dataframe to create schema for,
       Outputs SQLite schema creation'''
    
    # Rename columns to avoid conflicts
    df = rename_df_cols(df)
    
    # Convert column names into a list to avoid potential issues with column indexing
    column_list = list(df.columns)
    
    # Get the data types of the columns
    col_list_dtype = [(col_name, df[col_name].dtype) for col_name in column_list]

    map_data = dtype_mapping()

    for col_name, dtype in col_list_dtype:
        # Convert dtype to string and map it to the correct SQLite data type
        dtype_str = str(dtype)
        sql += f", {col_name} {map_data.get(dtype_str, 'TEXT')}"  # Default to TEXT if not found in map
    
    sql = sql + ')'
    
    print('\n', sql, '\n')
    
    try:
        conn = engine.raw_connection()
    except ValueError:
        print('You have connection problems with SQLite, check engine parameters')
    
    cur = conn.cursor()
    
    try:
        cur.execute(sql)
    except Exception as e:
        print(f"Could not create schema, check SQL again: {e}")
    
    cur.close()

# Assuming you already have a DataFrame `df`
# Create schema based on the DataFrame
create_sql(engine, df=df)

# Write DataFrame to SQLite table
df.to_sql(sql_table_name, con=engine, if_exists='append', index=False)

# Check DataFrame shape
print(df.shape)

 CREATE TABLE IF NOT EXISTS staging_data (key_pk INTEGER PRIMARY KEY, index INTEGER, NAME TEXT, PRICE INTEGER, CUSINE_CATEGORY TEXT, CITY TEXT, REGION TEXT, CUSINETYPE TEXT, TIMING TEXT, RATING_TYPE TEXT, RATING REAL, VOTES TEXT)

Could not create schema, check SQL again: near "index": syntax error
(105623, 11)

In [16]:
import pandas as pd
import sqlalchemy



# Set up SQLite connection
sqlite_db_path = '../DB/NEWDB/zomato_db.sqlite'
engine = sqlalchemy.create_engine(f'sqlite:///{sqlite_db_path}')

# Define the SQL query to select the first 10 rows from the staging_data table
select_query = "SELECT * FROM staging_data LIMIT 10"

# Execute the query and load the results into a DataFrame
df_first_10_rows = pd.read_sql_query(select_query, con=engine)

# Display the first 10 rows
print(df_first_10_rows)

   index                            NAME  PRICE  \
0      0     The Salt Cafe Kitchen & Bar   1000
1      1                   Bhagat Halwai    300
2      2                     Bikanervala    700
3      3  Mama Chicken Mama Franky House    600
4      4             Honeydew Restaurant    500
5      5          Cafe Turquoise Cottage   1600
6      6                         Hichkee   1200
7      7                  Domino's Pizza    700
8      8                      Urban Deck   1000
9      9                  Pinch Of Spice   1600

                                     CUSINE_CATEGORY  CITY       REGION  \
0                   North Indian,Continental,Italian  Agra      Tajganj
1             Desserts,Bakery,Fast Food,South Indian  Agra  Civil Lines
2  North Indian,South Indian,Mithai,Street Food,D...  Agra     Khandari
3  North Indian,Mughlai,Rolls,Chinese,Fast Food,S...  Agra   Agra Cantt
4        North Indian,Fast Food,Chinese,South Indian  Agra   Dayal Bagh
5     North Indian,Chinese,Continental,Italian,Pizza  Agra      Tajganj
6                   Continental,North Indian,Chinese  Agra  Civil Lines
7                                    Pizza,Fast Food  Agra  Civil Lines
8                       Mexican,Italian,North Indian  Agra     Khandari
9                       North Indian,Chinese,Mughlai  Agra  Civil Lines

      CUSINETYPE                                           TIMING RATING_TYPE  \
0  Casual Dining                        1130am to 1130pm(Mon-Sun)   Excellent
1    Quick Bites                           730am to 11pm(Mon-Sun)   Very Good
2    Quick Bites                             8am to 11pm(Mon-Sun)   Very Good
3    Quick Bites      1230pm to 12midnight(Mon,Wed,Thu,Fri,Sat...   Very Good
4    Quick Bites  11am to 1035pm(Mon,Tue,Wed,Fri,Sat),11am to ...   Very Good
5  Casual Dining                        12noon to 1155pm(Mon-Sun)   Excellent
6  Casual Dining                              4pm to 1am(Mon-Sun)   Very Good
7    Quick Bites                            11am to 11pm(Mon-Sun)        Good
8  Casual Dining                       1pm to 12midnight(Mon-Sun)   Very Good
9  Casual Dining             12noon to 4pm,7pm to 1130pm(Mon-Sun)   Excellent

   RATING VOTES
0     4.8   273
1     4.3   554
2     4.4   645
3     4.3   894
4     4.1   489
5     4.7   294
6     4.4   581
7     3.9   583
8     4.3   608
9     4.5   863